body, html {
  height: 100%;
  font-family: monospace;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

  nav{
    list-style-type: none;
    margin: 0px 0.5px;
    overflow: hidden;
    background-color:#f2f2f2;
    width:100%;
  }

  nav a{
    float: left;
    display: block;
    padding: 15px 30px;
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: none;
  }

  nav a:hover{
    background-color: #33cc33;
  }

.bg-img {
  background-image: url("img1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

table{
	width: 100%;
  	border: 1px solid #ddd;
	margin-top: 70px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  font-family: monospace;
  font-size: 25px;
  text-transform: capitalize;
}

tr{
	height: 30px;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:nth-child(odd){
	background-color: #bfbfbf;
}

tr:hover {
	background-color: #ddd;
}
