body, html {
  height: 100%;
  font-family: monospace;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

  nav{
    list-style-type: none;
    margin: 0px 0.5px;
    overflow: hidden;
    background-color:#f2f2f2;
    width:100%;
  }

  nav a{
    float: left;
    display: block;
    padding: 15px 30px;
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: none;
  }

  nav a:hover{
    background-color: #33cc33;
  }

.bg-img {
  background-image: url("img1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container{
  position: absolute;
  background-color: white;
  margin:  150px 440px;
  padding: 15px 15px 100px;
  width: 40%;
  border-radius: 8px;
}

label{
  font-family: monospace;
  font-style: italic;
  font-size: 30px;
  text-transform: capitalize;
  color: brown;
  padding: 70px 210px;
}

input[type=text], input[type=number]{
  width: 100%;
  border: 3px solid black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: italic;
    font-size: 20px;
    font-family: monospace;
    text-transform: capitalize;
}

input[type=submit]:hover {
    background-color: grey;
}