body, html {
  height: 100%;
  font-family: monospace;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("img1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

table{
	width: 100%;
  	border: 1px solid #ddd;
	margin-top: 70px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  font-family: monospace;
  font-size: 25px;
  text-transform: capitalize;
}

tr{
  height: 30px;
  font-size: 20px;
}
td{
  padding-left: 10px;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:nth-child(odd){
	background-color: #bfbfbf;
}

tr:hover {
	background-color: #ddd;
}
.container{
  position: absolute;
  background-color: white;
  margin:  20px 30px;
  padding: 15px 15px 10px;
  width: 20%;
  border-radius: 8px;
  font-size: 20px;
}