body, html {
  height: 100%;
  font-family: monospace;
  font-style: italic;
  margin: 0px;
  
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("img1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* align-items: center; */
  text-align: center;
}

.container{
  /* display: table-cell; */
  position: absolute;
  background-color: white;
  /* text-align: center; */
  /* vertical-align: middle; */
  padding: 15px 15px 60px;
  width: 40%;
  border-radius: 8px;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label{
  display: block;
  font-family: monospace;
  font-style: italic;
  font-size: 30px;
  text-transform: capitalize;
  color: brown;
  text-align: center;
}

input[type=text], input[type=number]{
  width: 100%;
  border: 3px solid black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-style: italic;
  font-size: 20px;
  font-family: monospace;
  text-transform: capitalize;
}

input[type=submit]:hover {
  background-color: grey;
}