
body,html{
	height: 100%;
}

*{
	box-sizing: border-box;
}

  
.bg{
	background-image: url("img1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.container{
	position: absolute;
	background-color: white;
	margin:  92px 440px;
	padding: 15px;
	width: 40%;
	border-radius: 8px;
}

label{
	font-family: monospace;
	font-style: italic;
	font-size: 30px;
	float: left;
	text-transform: capitalize;
	color: brown;
}

input[type=text], input[type=number]{
	width: 100%;
	border: 3px solid black;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 4px;
}

input[type=submit],button {
  	width: 100%;
  	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	font-style: italic;
  	font-size: 20px;
  	font-family: monospace;
  	text-transform: capitalize;
}

input[type=submit]:hover,button:hover {
  	background-color: grey;
}
